<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		<add name="SQL" connectionString="data source=SERVIDOR;Initial Catalog=BASEDATOS;User ID=user;Password=pass" providerName="System.Data.SqlClient" />
		<add name="Expertec" connectionString="data source=EXT-EXPERTEC05;Initial Catalog=CorpLogileHorarios;User ID=sa;Password=Se7en#77" providerName="System.Data.SqlClient" />
		<add name="desarrollo1" connectionString="data source=desarrooper; Initial Catalog=ProgPagoEnergiaDesaDb; User ID=ppes_user; Password=soriana;" providerName="System.Data.SqlClient" />
		<add name="desarrollo2" connectionString="data source=desaoper;Initial Catalog=ProgPagoEnergiaDesaDb; persist security info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
		<add name="produccion" connectionString="data source=desaoper;Initial Catalog=ProgPagoEnergiaDesaDb; persist security info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
	</connectionStrings>
	<appSettings>
		<!--
    <add key ="Cluster" value="127.0.0.1:9042"/>
    -->
		<add key ="Cluster" value="localhost"/>
		<add key ="KeySpace" value="PIA_AAVD"/>
		<add key ="IVA" value="0.16"/>
		<add key ="kW_Basico" value="100"/>
		<add key ="kW_Inter" value="150"/>
		<add key ="kW_Exced" value="0"/>

		<add key="desarrollo1" value="data source=desarrooper; Initial Catalog=ProgPagoEnergiaDesaDb; User ID=ppes_user; Password=soriana;" />
		<add key="desarrollo2" value="data source=desarrooper ;Initial Catalog=ProgPagoEnergiaDesaDb; persist security info=True; Integrated Security=SSPI" />
		<!-- Database Section -->
		<add key="EnvironmentCS" value="DesTC" />
		<add key="flagTypeConection" value="N" />
		<add key="DesTC" value="Data Source={0}; Initial Catalog={1}; Trusted_Connection=True; Connection Timeout=1200" />
		<add key="DesNTC" value="Data Source={0}; Initial Catalog={1}; User Id={2}; Password={3}; Connection Timeout=1200" />
		<add key="QA" value="Data Source=DWCONS01; Initial Catalog=PortalProvProdDB; User Id=usr_repyconsdwh; Password=12345; Connection Timeout=1200" />
		<add key="Prod" value="Data Source=DWCONS01; Initial Catalog=PortalProvProdDB; User Id=usr_repyconsdwh; Password=12345; Connection Timeout=1200" />
		<add key="DBServer" value="desarrooper" />
		<add key="DBName" value="BackOffice_ProdDB" />
		<add key="DBUser" value="backoffice_user" />
		<add key="DBPassword" value="backoffice_user" />
		<!-- Log Section -->
		<add key="LogRepository" value="~/Logs/" />
		<!-- Y is active otherwise is disabled -->
		<add key="LogActiveFlag" value="Y" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

</configuration>